.section-title span {
  display: block;
}

/* Main headline */
.main-headline-wrapper {
  text-align: center;
}
.main-headline h1 {
  font-size: 72px;
  font-weight: bold;
}

.main-headline span {
  display: block;
  font-size: 26px;
  font-weight: bold;
}
/* End Main headline */


/* Big headline */
.big-headline {
  font-size: 96px;
  color: #ddd;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

/* Section Headline */
.section-headline h2 {
  text-transform: uppercase;
  font-size: 19px;
  font-weight: bold;
}

.section-headline h2 span{
  color: gray;
  display: block;
  font-size: 19px;
  font-weight: bold;
}

.section-headline .section-headline-decoration {
  border-left: solid red 3px;
  height: 40px;
}
/* End Section Headline */
