/*** Generic Components ***/
/* Buttons */
.main-button-wrapper {
  text-align: center;
  margin: 60px 0;
}

.main-button {
  background-color: #ef0d33;
  border: none;
  border-radius: 0;
  padding: 15px 10px;
}

.main-button:hover {
  background-color: #ef0d33;
}

.main-button:active {
  background-color: #ef0d33;
}

.main-button a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;
}

.main-button span {
  margin-left: 40px;
}

/* End Buttons */

/* Panels */
.panel {
  box-shadow: lightgray 0px 10px 15px 5px;
  padding: 40px;
}
/* End Panels */

/* Section Headline */
.section-headline {
  margin: 60px 0;
}
.section-headline h2 {
  text-transform: uppercase;
  font-size: 19px;
  font-weight: bold;
}

.section-headline h2>span{
  color: lightgray;
  display: block;
}

.section-headline .section-headline-decoration {
  border-left: solid #ef0d33 3px;
  height: 80px;
}
/* End Section Headline */

/* Big headline */
.big-headline {
  font-size: 180px;
  text-transform: uppercase;
  font-weight: bold;
  color: lightgray;
}
/* Big headline */

/*** End Generic components ***/
/*** HEADER ***/

/* Main Navigation */
.navbar .navbar-nav {
  margin-top: 40px;
  display: inline-block;
  float: none;
}

.navbar .navbar-collapse {
  text-align: center;
}

.main-nav {
  background-color: inherit;
  border: none;
}

#myNavbar li>a {
  color: lightgray !important;
  text-transform: uppercase;
  font-weight: bold;
  padding: 5px 15px;
}

#myNavbar li>a:hover {
  color: white !important;
  border-bottom: #ef0d33 solid 2px;
}

/* End Main Navigation */

/* Main headline */
.main-headline {
  text-align: center;
  margin-top: 240px;
}

.main-headline h1 {
  font-size: 72px;
  font-weight: bold;
}

.main-headline span {
  display: block;
  font-size: 26px;
}
/* End Main headline */

/*** END HEADER ***/




.center {
  text-align: center;
}



#main-header {
  background: url("../img/car-header.jpg") no-repeat;
  -webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
height: 800px;
}






/* Features */
.feature {
  padding: 0 40px;
}
.feature-icon {
  margin-bottom: 60px;
}

.feature-icon i {
  font-size: 48px;
  color: lightgray;
  width: 100%;
  display: inline-block;
  text-align: center;
}

.feature-content > h3 {
  margin: 20px 0;
}

.feature-content > p {
  color: lightgray;
}

#features-panel .feature:nth-child(even) {
  border-left: solid lightgray 2px;
  border-right: solid lightgray 2px;

}




/* Comment */
.comment {
  box-shadow: lightgray 0px 10px 15px 5px;
  margin: 20px 0;
  padding: 20px;
}

.comment-heading {
  display: block;
}
.comment-content {
  display: block;
  margin-top: 20px;
}

.comment-user-image {

}

.comment-meta {
  margin-left: 20px;
}

/* reapeated!!! */
.comment-input {
  box-shadow: lightgray 0px 10px 15px 5px;
  margin: 20px 0;
  padding: 20px;
}
.comment-input-image {
  margin-left: 40px;
}

.comment-input-form {
  margin-left: 20px;
}

/* How it works section */
.instructions h3 span {
  color: lightgray;
  font-weight: bold;
  font-size: 48px;
  display: block;
}
